<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <title>Josh Lapid</title>

    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


    <!-- Javascript -->
    <script type="text/javascript" src="portfolio.js"></script>

    <!-- CSS -->
    <link href="portfolio.css" rel ="stylesheet"/>

  </head>
  <body ng-controller="ShowAllController as show">

    <div class="container" ng-click="show.changeShow(true)">
      <section>
        <div class="col-sm-12 text-center">
          <h1>Josh Lapid</h1>
          <h2>Web Developer</h2>
        </div>
      </section>

      <section ng-show="show.showAll" ng-controller="TabController as tab">
        <div ng-show="tab.isSet(1)">
          <h4>About</h4>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>Works</h4>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Contact</h4>
        </div>
        <div class="col-sm-12">
          <h3><a ng-click="tab.setTab(1)" href="">About</a></h3>
          <h3><a ng-click="tab.setTab(2)" href="">Works</a></h3>
          <h3><a ng-click="tab.setTab(3)" href="">Contact</a></h3>
        </div>
      </section>

      <section class="press-to-continue">
        <div class="col-sm-12 text-center">
          <h4>Press any key to continue</h4>
        </div>
      </section>

    </div>
  </body>
</html>
