body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

.press-to-continue {
  animation: blinker 1.5s linear infinite;
  padding-bottom: 100%;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
